@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --verde: rgb(73, 78, 74);
    --cinza-verde: rgb(134, 131, 130);
    --prata: rgb(0, 82, 31);
    --branco: rgb(0, 0, 0);
    --titulo: "Montenegrin Gothic One", serif;
    --texto: "Raleway", sans-serif;
}

body {
    background: var(--cinza-verde);
    font-family: var(--texto);
}

header {
    background-color: var(--verde);
    display: flex;
    justify-content: space-around;
    color: var(--branco);
}
.menu{
  display: flex;
  list-style: none
}
